.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 20px;
}

.heroContainer {
  width: 100%;
  max-width: 1200px;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  justify-items: center;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  max-width: 500px;
  justify-self: flex-start;
}

.heroText h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 500;
  color: hsl(229, 31%, 21%);
}

.heroText p {
  max-width: 500px;
  line-height: 1.5;
  color: hsl(229, 8%, 60%);
  font-size: 1rem;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}

.buttonContainer button {
  color: #fff;
  background: hsl(231, 69%, 60%);
  border: 2px solid hsl(231, 69%, 60%);
  font-size: 0.83rem;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.buttonContainer button:hover {
  color: hsl(231, 69%, 60%);
  background: #fff;
}

.buttonContainer button:nth-child(2) {
  box-shadow: 0px 4px 4px rgba(145, 148, 161, 0.5);
  background: rgba(145, 148, 161, 0.1);
  border: 2px solid rgba(145, 148, 161, 0);
  color: hsl(229, 31%, 21%);
}

.buttonContainer button:nth-child(2):hover {
  border-color: hsl(229, 31%, 21%);
  background: #fff;
}

.imgContainer {
  position: relative;
}

.imgContainer img {
  top: 1rem;
  position: relative;
  z-index: 50;
  left: 7rem;
  width: 100%;
  height: auto;
}

.blueBar {
  position: absolute;
  height: 300px;
  width: 100%;
  max-width: 685px;
  background-color: hsl(231, 69%, 60%);
  border-bottom-left-radius: 150px;
  left: 18rem;
  bottom: -1rem;
  overflow: hidden;
  display: none;
}

@media screen and (max-width: 1456px) {
  .imgContainer img {
    left: 5rem;
  }
}

@media screen and (max-width: 1380px) {
  .imgContainer img {
    left: 2rem;
  }
}

@media screen and (max-width: 914px) {
  .heroContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .heroText {
    text-align: center;
    align-items: center;
  }

  .imgContainer img {
    position: static;
    max-width: 500px;
  }
}

@media screen and (max-width: 470px) {
  .heroText h1 {
    font-size: 1.75rem;
  }
}
