.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 20px;
}

.featuresContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.featuresText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  max-width: 550px;
}

.featuresText h1 {
  font-size: 2rem;
  font-weight: 500;
  color: hsl(229, 31%, 21%);
}

.featuresText p {
  line-height: 1.5;
  color: hsl(229, 8%, 60%);
}

.featuresNav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 75px;
  margin-bottom: 2rem;
}

.featuresNav li {
  height: 100%;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(229, 8%, 60%);
  cursor: pointer;
  font-weight: 500;
  border-bottom: 1px solid rgba(145, 148, 161, 0.3);
}

.featuresNav li:hover {
  color: hsl(0, 94%, 66%);
}

.active {
  border-bottom: 4px solid hsl(0, 94%, 66%) !important;
  color: hsl(229, 31%, 21%) !important;
}
