footer {
  background-color: hsl(229, 31%, 21%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 20px;
}

.footerContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
}

.footerLogo {
  margin-right: 4rem;
}

.footerList {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: #fff;
  text-transform: uppercase;
}

.footerList li {
  font-size: 0.75rem;
}

.socialWrap {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 2rem;
}
